{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Project_QR_Attendance_System</title>
      <link rel="icon" href="{% static 'assets/png/Pritam_Icon.png'%}">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <header class="header">
      <div class="header__content">
        <div class="header__logo-container">
          <div class="header__logo-img-cont">
           <a href="{% url '' %}">
                <img
              src="{% static 'assets/png/Pritam_Image.png'%}"
              alt="Pritam Kasar Logo Image"
              class="header__logo-img"
            />
            </a>
          </div>
            <a href="{% url '' %}"><span class="header__logo-sub">Pritam Kasar</span></a>
        </div>
        <div class="header__main">
          <ul class="header__links">
            <li class="header__link-wrapper">
              <a href="./#Header" class="header__link"> Home </a>
            </li>
            <li class="header__link-wrapper">
              <a href="./#about" class="header__link">About </a>
            </li>
            <li class="header__link-wrapper">
              <a href="./#projects" class="header__link">
                Projects
              </a>
            </li>
            <li class="header__link-wrapper">
              <a href="./#contact" class="header__link"> Contact </a>
            </li>
          </ul>
          <div class="header__main-ham-menu-cont">
            <img
              src="{% static '/assets/svg/ham-menu.svg'%}"
              alt="hamburger menu"
              class="header__main-ham-menu"
            />
            <img
              src="{% static '/assets/svg/ham-menu-close.svg'%}"
              alt="hamburger menu close"
              class="header__main-ham-menu-close d-none"
            />
          </div>
        </div>
      </div>
        <div class="header__sm-menu">
  <ul class="header__sm-menu-links">
    <li class="header__sm-menu-link"><a href="./#Header">Home</a></li>
    <li class="header__sm-menu-link"><a href="./#about">About</a></li>
    <li class="header__sm-menu-link"><a href="./#projects">Projects</a></li>
    <li class="header__sm-menu-link"><a href="./#contact">Contact</a></li>
  </ul>
</div>
    </header>
    <section class="project-cs-hero">
      <div class="project-cs-hero__content">
        <h1 class="heading-primary">QR Based Attendance System</h1>
        <div class="project-cs-hero__info">
          <p class="text-primary">
            A real-time attendance system where students scan unique QR codes to mark their presence instantly. It uses MySQL for accurate record management and automates report exports, reducing faculty workload. Built with React.js, Django, SQL, and Tailwind CSS for a secure and efficient attendance solution.
          </p>
        </div>
        <div class="project-cs-hero__cta">
          <a href="https://github.com/PritamKasar/QR-Attendance-System" class="btn btn--bg" target="_blank">Code Base Link</a>
        </div>
      </div>
    </section>
    <section class="project-details">
      <div class="main-container">
        <div class="project-details__content">
          <div class="project-details__showcase-img-cont">
            <img
              src="{%static 'assets/jpg/QR_Based_Attendance_Sys.jpg' %}"
              alt="Project Image"
              class="project-details__showcase-img"
            />
          </div>
          <div class="project-details__content-main">
            <div class="project-details__desc">
              <h3 class="project-details__content-title">Project Overview</h3>
              <p class="project-details__desc-para">
                The QR Based Attendance System is a web application developed to simplify and automate attendance tracking for classrooms. Students can mark their presence in real-time by scanning unique QR codes, removing the need for manual entry and reducing administrative workload. The system efficiently supports over 60 students simultaneously and stores attendance records by subject and date in a well-structured MySQL database, ensuring 95% accuracy. It also prevents tampering and maintains data integrity, offering a secure way to track attendance.              </p>
              <p class="project-details__desc-para">
                Faculty members benefit from automated Excel report exports, which cut down reporting time by up to 50%. The application’s responsive interface, built with React.js and styled using Tailwind CSS, ensures seamless operation across devices. The Django backend and SQL database provide reliable data management and fast processing. This solution improves classroom management, increases accuracy, and enhances the overall experience for both students and teachers.
              </p>
            </div>
            <div class="project-details__tools-used">
              <h3 class="project-details__content-title">Tools Used</h3>
              <div class="skills">
                <div class="skills__skill">HTML</div>
                <div class="skills__skill">CSS</div>
                <div class="skills__skill">JavaScript</div>
                <div class="skills__skill">Django REST Framwork</div>
                <div class="skills__skill">React.js</div>
                <div class="skills__skill">Tailwind CSS</div>
                <div class="skills__skill">SQL</div>
                <div class="skills__skill">MySQL</div>
                <div class="skills__skill">VS Code</div>
                <div class="skills__skill">Postman</div>
                <div class="skills__skill">Git</div>
            </div>
            </div>
            <div class="project-details__links">
              <h3 class="project-details__content-title">See Live</h3>
<!--              <a-->
<!--                href="#"-->
<!--                class="btn btn&#45;&#45;med btn&#45;&#45;theme project-details__links-btn"-->
<!--                target="_blank"-->
<!--                >Live Link</a-->
<!--              >-->
              <a
                href="https://github.com/PritamKasar/QR-Attendance-System"
                class="btn btn--med btn--theme-inv project-details__links-btn"
                target="_blank"
                >Code Base Link</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="main-footer">
      <div class="main-container">
        <div class="main-footer__upper">
          <div class="main-footer__row main-footer__row-1">
            <h2 class="heading heading-sm main-footer__heading-sm">
              <span>Social</span>
            </h2>
            <div class="main-footer__social-cont">
              <a rel="noreferrer" href="https://www.linkedin.com/in/pritamkasar514/">
                <img
                  class="main-footer__icon"
                  src="{% static 'assets/png/linkedin-ico.png' %}"
                  alt="icon"
                />
              </a>
              <a rel="noreferrer" href="https://github.com/PritamKasar">
                <img
                  class="main-footer__icon"
                  src="{% static 'assets/png/github-ico.png' %}"
                  alt="icon"
                />
              </a>
              <a rel="noreferrer" href="https://www.instagram.com/pritamkasar514/">
                <img
                  class="main-footer__icon main-footer__icon--mr-none"
                  src="{% static 'assets/png/insta-ico.png' %}"
                  alt="icon"
                />
              </a>
            </div>
          </div>
          <div class="main-footer__row main-footer__row-2">
            <h4 class="heading heading-sm text-lt">Pritam Kasar</h4>
            <p class="main-footer__short-desc">
              Open To Work
            </p>
          </div>
        </div>

        <!-- If you give me some credit or shoutout here by linking to my website, then it will be a big thing for me and will help me a lot :) -->
        <div class="main-footer__lower">
          Made by
          <a rel="noreferrer" target="_blank" href="https://linkedin.com/in/pritamkasar514/"
            >Pritam Kasar</a
          >
        </div>
      </div>l̥
    </footer>
    <script>
const hamMenuBtn = document.querySelector('.header__main-ham-menu-cont')
const smallMenu = document.querySelector('.header__sm-menu')
const headerHamMenuBtn = document.querySelector('.header__main-ham-menu')
const headerHamMenuCloseBtn = document.querySelector(
  '.header__main-ham-menu-close'
)
const headerSmallMenuLinks = document.querySelectorAll('.header__sm-menu-link')

hamMenuBtn.addEventListener('click', () => {
  if (smallMenu.classList.contains('header__sm-menu--active')) {
    smallMenu.classList.remove('header__sm-menu--active')
  } else {
    smallMenu.classList.add('header__sm-menu--active')
  }
  if (headerHamMenuBtn.classList.contains('d-none')) {
    headerHamMenuBtn.classList.remove('d-none')
    headerHamMenuCloseBtn.classList.add('d-none')
  } else {
    headerHamMenuBtn.classList.add('d-none')
    headerHamMenuCloseBtn.classList.remove('d-none')
  }
})

for (let i = 0; i < headerSmallMenuLinks.length; i++) {
  headerSmallMenuLinks[i].addEventListener('click', () => {
    smallMenu.classList.remove('header__sm-menu--active')
    headerHamMenuBtn.classList.remove('d-none')
    headerHamMenuCloseBtn.classList.add('d-none')
  })
}

const headerLogoConatiner = document.querySelector('.header__logo-container')

headerLogoConatiner.addEventListener('click', () => {
  location.href = 'index.html'
})

    </script>
  </body>
</html>