{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Portfolio</title>
      <link rel="icon" href="{% static 'assets/png/Pritam_Icon.png'%}">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <header class="header">
      <div class="header__content">
        <div class="header__logo-container">
          <div class="header__logo-img-cont">
            <a href="{% url '' %}">
                <img
              src="{% static 'assets/png/Pritam_Image.png'%}"
              alt="Pritam Kasar Logo Image"
              class="header__logo-img"
            />
            </a>
          </div>
            <a href="{% url '' %}"><span class="header__logo-sub">Pritam Kasar</span></a>
        </div>
        <div class="header__main">
          <ul class="header__links">
            <li class="header__link-wrapper">
              <a href="./#Header" class="header__link"> Home </a>
            </li>
            <li class="header__link-wrapper">
              <a href="./#about" class="header__link">About </a>
            </li>
            <li class="header__link-wrapper">
              <a href="./#projects" class="header__link">
                Projects
              </a>
            </li>
            <li class="header__link-wrapper">
              <a href="./#contact" class="header__link"> Contact </a>
            </li>
          </ul>
          <div class="header__main-ham-menu-cont">
            <img
              src="{% static '/assets/svg/ham-menu.svg'%}"
              alt="hamburger menu"
              class="header__main-ham-menu"
            />
            <img
              src="{% static '/assets/svg/ham-menu-close.svg'%}"
              alt="hamburger menu close"
              class="header__main-ham-menu-close d-none"
            />
          </div>
        </div>
      </div>
        <div class="header__sm-menu">
  <ul class="header__sm-menu-links">
    <li class="header__sm-menu-link"><a href="./#Header">Home</a></li>
    <li class="header__sm-menu-link"><a href="./#about">About</a></li>
    <li class="header__sm-menu-link"><a href="./#projects">Projects</a></li>
    <li class="header__sm-menu-link"><a href="./#contact">Contact</a></li>
  </ul>
</div>
    </header>
    <section class="home-hero">
      <div class="home-hero__content">
        <h1 class="heading-primary">Hey, My name is Pritam Kasar</h1>
        <div class="home-hero__info">
          <p class="text-primary">
            Full Stack Developer
          </p>
        </div>
        <div class="home-hero__cta">
          <a target="_blank" href="https://drive.google.com/file/d/1876i11K7507OE5teo7Gg7UpgRie2u6sZ/view?usp=drivesdk" class="btn btn--bg">Resume <i class="fa fa-download"></i></a>
        </div>
      </div>
      <div class="home-hero__socials">
        <div class="home-hero__social">
          <a href="https://www.linkedin.com/in/pritamkasar514/" class="home-hero__social-icon-link">
            <img
              src="{% static 'assets/png/linkedin-ico.png'%}"
              alt="icon"
              class="home-hero__social-icon"
            />
          </a>
        </div>
        <div class="home-hero__social">
          <a href="https://github.com/PritamKasar" class="home-hero__social-icon-link">
            <img
              src="{% static 'assets/png/github-ico.png'%}"
              alt="icon"
              class="home-hero__social-icon"
            />
          </a>
        </div>

        <div class="home-hero__social">
          <a
            href="https://www.instagram.com/pritamkasar514/"
            class="home-hero__social-icon-link home-hero__social-icon-link--bd-none"
          >
            <img
              src="{% static 'assets/png/insta-ico.png' %}"
              alt="icon"
              class="home-hero__social-icon"
            />
          </a>
        </div>
      </div>
      <div class="home-hero__mouse-scroll-cont">
        <div class="mouse"></div>
      </div>
    </section>
    <section id="about" class="about sec-pad">
      <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
          <span class="heading-sec__main">About Me</span>
          <span class="heading-sec__sub">
            A Full Stack Developer possessing practical experience in the development of scalable web applications and RESTful APIs
utilizing Python, Django, React.js and SQL. Proficient in the design of user-friendly interfaces, optimization of the back-end
performance, and integration of secure payment systems. Holds a robust foundation in Data Structures, Object-Oriented
Programming, and Computer Networks, accompanied by a demonstrated ability to deliver comprehensive solutions such as
QR-Based Vending Machines, Attendance Tracking Systems, and Streaming Platforms. Competent in collaborating within
motivated environments, producing clean and maintainable code, and employing cloud and version control tools for
deployment.
          </span>
        </h2>
        <div class="about__content">
          <div class="about__content-skills">
            <h3 class="heading-sec__main">My Skills</h3>
            <div class="skills">
                <div class="skills__skill">Python</div>
                <div class="skills__skill">JavaScript</div>
                <div class="skills__skill">SQL</div>
                <div class="skills__skill">HTML</div>
                <div class="skills__skill">CSS</div>
                <div class="skills__skill">Django</div>
                <div class="skills__skill">Django REST Framwork</div>
                <div class="skills__skill">React.js</div>
                <div class="skills__skill">Tailwind CSS</div>
                <div class="skills__skill">MySQL</div>
                <div class="skills__skill">VS Code</div>
                <div class="skills__skill">Postman</div>
                <div class="skills__skill">StarUML</div>
                <div class="skills__skill">Git</div>
                <div class="skills__skill">GitHub</div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <section id="projects" class="projects sec-pad">
      <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-bg">
          <span class="heading-sec__main">Projects</span>

        </h2>

        <div class="projects__content">
          <div class="projects__row">
            <div class="projects__row-img-cont">
              <img
                src="{%static 'assets/jpg/QR_Based_Attendance_Sys.jpg' %}"
                alt="Software Screenshot"
                class="projects__row-img"
                loading="lazy"
              />
            </div>
            <div class="projects__row-content">
              <h3 class="projects__row-content-title">QR Based Attendance System</h3>
              <p class="projects__row-content-desc">
                A real-time attendance tracking application that allows students to mark their presence by scanning unique QR codes. The backend efficiently organizes attendance data with 95% accuracy and automates report exports, reducing faculty workload by 50%.
              </p>
              <a
                href="{% url 'Project_QR_Attendance_Sys' %}"
                class="btn btn--med btn--theme dynamicBgClr"
                target="_blank"
                >Details</a
              >
            </div>
          </div>
          <div class="projects__row">
            <div class="projects__row-img-cont">
              <img
                src="{%static 'assets/jpg/QR_Vending_Machine.jpeg' %}"
                alt="Software Screenshot"
                class="projects__row-img"
                loading="lazy"
              />
            </div>
            <div class="projects__row-content">
              <h3 class="projects__row-content-title">QR Based Vending Machine App</h3>
              <p class="projects__row-content-desc">
                A fully cashless vending machine solution where users can scan QR codes and make payments using Razorpay. The system reduces transaction time by 40%, ensures zero payment failures, and enhances user experience with a responsive React.js frontend compatible across devices.
              </p>
              <a
                href="{% url 'Project_QR_Vending_machine'%}"
                class="btn btn--med btn--theme dynamicBgClr"
                target="_blank"
                >Details
              </a>
            </div>
          </div>

      </div>
    </section>
    <section id="contact" class="contact sec-pad dynamicBg">
      <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
          <span class="heading-sec__main heading-sec__main--lt">Contact</span>
        </h2>
        <div class="contact__form-container">
          <form action="{% url 'Contact'%}" method="post" class="contact__form">
              {% csrf_token %}
            <div class="contact__form-field">
              <label class="contact__form-label" for="name">Name</label>
              <input
                required
                placeholder="Enter Your Name"
                type="text"
                class="contact__form-input"
                name="name"
                id="name"
              />
            </div>
            <div class="contact__form-field">
              <label class="contact__form-label" for="email">Email</label>
              <input
                required
                placeholder="Enter Your Email"
                type="text"
                class="contact__form-input"
                name="email"
                id="email"
              />
            </div>
            <div class="contact__form-field">
              <label class="contact__form-label" for="message">Message</label>
              <textarea
                required
                cols="30"
                rows="10"
                class="contact__form-input"
                placeholder="Enter Your Message"
                name="message"
                id="message"
              ></textarea>
              <h3 class="contact__form-label success_message">{{success}}</h3>
            </div>
            <button type="submit" class="btn btn--theme contact__btn">
              Submit
            </button>
          </form>
        </div>
      </div>
    </section>
    <footer class="main-footer">
      <div class="main-container">
        <div class="main-footer__upper">
          <div class="main-footer__row main-footer__row-1">
            <h2 class="heading heading-sm main-footer__heading-sm">
              <span>Social</span>
            </h2>
            <div class="main-footer__social-cont">
              <a rel="noreferrer" href="https://www.linkedin.com/in/pritamkasar514/">
                <img
                  class="main-footer__icon"
                  src="{% static 'assets/png/linkedin-ico.png' %}"
                  alt="icon"
                />
              </a>
              <a rel="noreferrer" href="https://github.com/PritamKasar">
                <img
                  class="main-footer__icon"
                  src="{% static 'assets/png/github-ico.png' %}"
                  alt="icon"
                />
              </a>
              <a rel="noreferrer" href="https://www.instagram.com/pritamkasar514/">
                <img
                  class="main-footer__icon main-footer__icon--mr-none"
                  src="{% static 'assets/png/insta-ico.png' %}"
                  alt="icon"
                />
              </a>
            </div>
          </div>
          <div class="main-footer__row main-footer__row-2">
            <h4 class="heading heading-sm text-lt">Pritam Kasar</h4>
            <p class="main-footer__short-desc">
              Open To Work
            </p>
          </div>
        </div>

        <!-- If you give me some credit or shoutout here by linking to my website, then it will be a big thing for me and will help me a lot :) -->
        <div class="main-footer__lower">
          Made by
          <a rel="noreferrer" target="_blank" href="https://linkedin.com/in/pritamkasar514/"
            >Pritam Kasar</a
          >
        </div>
      </div>l̥
    </footer>

    <script>
const hamMenuBtn = document.querySelector('.header__main-ham-menu-cont')
const smallMenu = document.querySelector('.header__sm-menu')
const headerHamMenuBtn = document.querySelector('.header__main-ham-menu')
const headerHamMenuCloseBtn = document.querySelector(
  '.header__main-ham-menu-close'
)
const headerSmallMenuLinks = document.querySelectorAll('.header__sm-menu-link')

hamMenuBtn.addEventListener('click', () => {
  if (smallMenu.classList.contains('header__sm-menu--active')) {
    smallMenu.classList.remove('header__sm-menu--active')
  } else {
    smallMenu.classList.add('header__sm-menu--active')
  }
  if (headerHamMenuBtn.classList.contains('d-none')) {
    headerHamMenuBtn.classList.remove('d-none')
    headerHamMenuCloseBtn.classList.add('d-none')
  } else {
    headerHamMenuBtn.classList.add('d-none')
    headerHamMenuCloseBtn.classList.remove('d-none')
  }
})

for (let i = 0; i < headerSmallMenuLinks.length; i++) {
  headerSmallMenuLinks[i].addEventListener('click', () => {
    smallMenu.classList.remove('header__sm-menu--active')
    headerHamMenuBtn.classList.remove('d-none')
    headerHamMenuCloseBtn.classList.add('d-none')
  })
}

const headerLogoConatiner = document.querySelector('.header__logo-container')

headerLogoConatiner.addEventListener('click', () => {
  location.href = 'index.html'
})

    </script>
  </body>
</html>